<h1>Armin's CRUD Web App</h1>
<p>Welcome to my application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To start please open <a [routerLink]="['/fetch-product']" class="btn btn-primary"> Product List </a></p>
<p>
  <b>Note:</b><br />
  I could implement client side caching and data preserving but for keeping things short I didn't.
</p>
